<app-alert></app-alert>
<app-language-switcher></app-language-switcher>


<form [formGroup]="loginForm" class="bg-red" (submit)="submit()">
    <img src="assets/svg/logo.svg" width="120px" height="120px" alt="">

    <div class="input_field">
        <i class="pi pi-user"></i>
        <input formControlName="telephone" [placeholder]="'login_form.phone' | translate" type="number">
    </div>

    <div class="input_field">
        <i class="pi pi-lock"></i>
        <input [type]="showPassword ? 'text' : 'password'" [placeholder]="'login_form.password' | translate" formControlName="password">
        @if (!showPassword) {
            <i class="pi pi-eye" (click)="togglePassword()"></i>

        }
        @else {
            <i class="pi pi-eye-slash" (click)="togglePassword()"></i>
        }
    </div>

    <button type="submit"> {{ 'login_form.login' | translate }} </button>

    <span> {{ 'login_form.question' | translate }} <a routerLink="/register"> {{ 'login_form.register' | translate }} </a></span>
</form>