@use '../../../../../variables' as v;
@use '../../../../../mixins.scss' as m;

app-language-switcher {
    position: absolute;
    top: 2.5rem;
    inset-inline-start: 40px;
    box-shadow: 1px 2px 10px #c0c0c0;
}

form {
    @include m.form;
    position: relative;
    img {
        margin-bottom: 2rem;
    }

    .input_field {
        position: relative;

        i {
            @include m.icon('front');
        }
        
        .pi-eye, .pi-eye-slash {
            @include m.icon('after');
            cursor: pointer;
        }
        
        &:focus-within i {
            color: v.$green;
        }
        
        input {
            @include m.input;
        }
    }

    .rememberMe {
        position: absolute;
        inset-inline-start: 20px;
        bottom: 150px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 15px;
        accent-color: v.$green;
    }

    button {
        margin-top: 40px;
        width: 100%;
        @include m.button('primary')
    }

    span {
        @include m.form_link;
    }
}