@use '../../../../../variables' as v;
@use '../../../../../mixins.scss' as m;

app-language-switcher {
    position: absolute;
    top: 2.5rem;
}

form {
    @include m.form;

    img {
        margin-bottom: 2rem;
    }

    .input_field {
        position: relative;

        i {
            @include m.icon('front');
        }
        
        [dir='rtl'] i {
            left: auto;
            right: 20rem;
        }
        
        .pi-eye, .pi-eye-slash {
            @include m.icon('after');
            cursor: pointer;
        }
        
        &:focus-within i {
            color: v.$green;
        }
        
        input {
            @include m.input;
        }
    }

    button {
        @include m.button('primary')
    }

    span {
        @include m.form_link;
    }
}