@use '../../../../../variables.scss' as v;
@use '../../../../../mixins.scss' as m;

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;

    h2 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .selectType {
        display: flex;
        gap: 10px;
        position: relative;
        align-items: center;
        
        .options {
            border: 1px solid v.$dark_grey;
            border-radius: 5px;
            background-color: v.$white;    
            .hidden {
                border: 1px solid v.$dark_grey;
                border-radius: 5px;
                position: absolute;
                background-color: v.$white;

                .option {
                    padding: 15px 26px;
                }
            }

            .option {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 15px 20px;
                // padding-right: 30px;
                border-bottom: 1px solid v.$dark_grey;

                &:last-child {
                    border: none;
                }
            }
        }
    }

    .products {
        overflow-y: auto;
        height: 350px;
        width: 300px;
        margin-top: 20px;
        border: 1px solid v.$dark_grey;
        border-radius: 10px;
        background: v.$white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            padding:20px;
            margin-bottom: -30px;
        }
        
        .prod {
            padding: 15px;
            border-bottom: 1px solid v.$dark_grey;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            h4 {
                color : v.$dark_green;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 15px;

                p {
                    display: flex;

                    span {
                        font-weight: 600;
                        color : v.$dark_green;
                    }
                }
                button {
                    margin-top: 20px;
                    @include m.button('primary');
                }
            }

            &:last-child{
                border: none;
            }
        }
    }
}

.confirmation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #66666694;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .content {
        background: v.$white;
        padding: 15px;
        padding-top: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        width: 320px;
        
        i {
            position: absolute;
            top: 15px;
            inset-inline-end: 15px;
        }

        .duration {
            display: flex;
            align-items: center;
            gap: 10px;
            input , select {
                padding: 5px;
                outline: none;
            }
        }

        button {
            margin-top: 15px;
            @include m.button('primary')
        }
    }
}