@use './variables' as v;

@mixin form {
    background-color: v.$white;
    padding: 2rem 1rem;
    box-shadow: 0px 0px 10px v.$dark_grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

@mixin icon ($position) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    
    @if ($position == 'front') {
        // left: 0.5rem;
        // [dir='rtl'] & {
        //     left: auto;
        //     right: 12rem;
        // }

        inset-inline-start: 0.5rem;
    }
    @else {
        width: 6%;
        inset-inline-start: 16.5rem;
    }
}

@mixin input {
    outline: none;
    border: 1px solid v.$dark_grey;
    border-radius: 5px;
    padding: 13px 12px;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 18.5rem;
    transition: all 0.3s ease-in-out;

    &:focus {
        border: 1px solid v.$green;
    }
}


@mixin button ($type) {
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    font-weight:500;
    border-radius: 5px;
    // letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    @if($type == 'primary') {
        color: v.$white;
        background-color: v.$green;
        &:hover {
            background-color: v.$dark_green;
        }
    }
    @if ($type == 'secondary') {
        color: v.$green;
        background-color: v.$grey;
        &:hover {
            color: v.$white;
            background-color: v.$green;
        }
    }
    @if ($type == 'danger') {
        color: v.$white;
        border: 1px solid v.$white;
        background-color: v.$red;
        &:hover {
            color : v.$red;
            border: 1px solid v.$red;
            background-color: v.$white;
        }

    }
}

@mixin form_link {
    margin-top: 2rem;
        font-size: small;
        a {
        text-decoration: none;
        color: v.$green;
    }
}